/* css all */

*,
.container,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

button {
    outline: none !important;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0rem;
}

li a {
    text-decoration: none;
}

ul {
    margin-left: 0;
}

img {
    max-width: 100%;
}

a {
    color: black;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

ol,
ul {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}


/* end css all */


/* css header */

.header-top {
    background-color: #ebebeb;
    padding: 5px 0;
}

.header-top-ul a {
    font-size: 94%;
}

.header-top-ul a:hover {
    color: coral;
    text-decoration: none;
}

.header-top-ul>li {
    display: inline;
}

.header-top-ul {
    display: flex;
    /* margin-left: 40px; */
    justify-content: space-between;
}


/* css search */

.header-mider {
    margin: 10px 0 20px 0;
}

.search-box>input {
    background-color: #ebebeb;
    height: 45px;
    outline: none;
    width: 600px;
    padding-left: 10px;
    border-radius: 10px 0 0 10px;
}

#search {
    display: inline-flex;
}

.search-icon button {
    background-color: chocolate;
    width: 45px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}


/* end search */

.cart-icon {
    margin-top: 5px;
    font-size: 30px;
    margin-left: 20px;
    position: relative;
}

.soluong {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: cornflowerblue;
    font-size: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    top: 0px;
    left: 22px;
}


/* end css header */

.zzz {
    position: relative;
}

.xxx {
    display: none;
    position: absolute;
    /* width: 200px; */
    left: 160px;
    background-color: red;
    top: 0;
    height: 500px;
}

.xxx li {
    width: 200px;
}

.zzz:hover .xxx {
    display: block;
}